/*------------------------------------*\
    #SVG SPRITE OVERRIDES
\*------------------------------------*/
#atoms-icons {
    section {
        border-top: none;
        padding: 0;
    }

    header {
        display: none;
    }

    pre {
        display: none;
    }

    br {
        display: none;
    }

    .icon-boxes {
        display: flex;
        flex-wrap: wrap;
    }

    style + svg + header {
        display: none;
    }

    .icon-box {
        width: initial;
        height: auto;
        background: none;
        border: none;
    }

    .icon-boxes li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background: #fbfbfb;
        border: 1px solid #cccccd;
        border-radius: 8px;
    }

    .icon-boxes li h2 {
        color: #000;
        font-size: 0.75rem;
        white-space: inherit;
        text-overflow: unset;
        overflow: inherit;
    }

    .icon-box .icon {
        height: 16px;
        width: 16px;
    }

    .icon-boxes li button {
        display: none;
    }
}
