<form method="{{ method }}" action="{{ url }}" class="{{ styleModifier }}" {{# dataAttribute }} {{{ dataAttribute }}} {{/ dataAttribute}}>

	<div>

		{{#if formFields }}
		  {{#with formFields }}
		    {{#each items }}
		     	{{#if textField }}
					{{# with textField }}
						{{> molecules-bt-text-field }}
					{{/ with }}
				{{/ if }}
				{{#if selectField }}
					{{# with selectField }}
						{{> molecules-bt-select-field }}
					{{/ with }}
				{{/ if }}
				{{#if textAreaField }}
					{{# with textAreaField }}
						{{> molecules-bt-textarea-field }}
					{{/ with}}
				{{/ if }}
				{{#if radioField }}
					{{# with radioField }}
						{{> molecules-bt-radio-field }}
					{{/ with}}
				{{/ if }}
				{{#if checkboxField }}
					{{# with checkboxField }}
						{{> molecules-bt-checkbox-field }}
					{{/ with}}
				{{/ if }}
				{{#if inlineCheckbox }}
					{{# with inlineCheckbox }}
						{{> molecules-bt-inline-checkbox }}
					{{/ with}}
				{{/ if }}
		    {{/ each }}
		  {{/ with }}
		{{/ if }}

	</div><!--end c-form__body-->

	<div>
		{{> organisms-bt-button-group }}
	</div><!--end c-form__footer-->

</form><!--end c-form-->
